apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ../../base
  - ../secrets

#namespace: team-a-jenkins
#namespace: flux-system
#namePrefix: team-a-jenkins-

patchesStrategicMerge:
  - jenkins-release.yaml
#  - variables.yaml


