apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ../../base
  - ../secrets
  
namespace: team-b-jenkins

patchesStrategicMerge:
  - jenkins-release.yaml


#  - variables.yaml  
